
@{
    ViewData["Title"] = "Login";
}

<div class="base-form">
    <form action="dashaboard2.html" method="post">
        <h2 class="text-center">Sign in</h2>


        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd">
        </div>




        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
        </div>


        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
            <label class="custom-control-label" for="customCheck">Custom checkbox</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>



        <div class="or-seperator"><i class="text-muted">or</i></div>
        <p class="text-center">Login with your social media account</p>
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
        </div>
    </form>
    <p class="text-center text-muted">Don't have an account? <a href="signup.html">Sign up here!</a></p>
</div>




